$color-base-yellow: #ffe838;
$color-base-pink: #fd57bf;
$color-light-pink: #ff99cc4d;
$color-base-blue: #6495ed;
$color-light-text-scale-0: #ffffff;
$color-light-text-scale-1: #ccc;
$color-light-bg-scale-0: #ffffff;
$color-light-bg-scale-1: #dddddd;
$color-dark-bg-scale-0: #ffffff26;
$color-dark-bg-scale-1: #444;
$color-border-overlay: #30363d;
$color-border-primary: #ffffff;
$color-border-secondary: $color-border-overlay;
$color-bg-overlay: #1c2128;
$color-dark-shadow: 0 8px 24px #010409;
$color-text-link: #58a6ff;
$font-stack-primary: 'Poppins', sans-serif;
$font-stack-secondary: 'Orbitron', sans-serif;
