.movie-poster {
	max-width: 100%;
	height: auto;
}

.movie-poster-container {
	position: relative;
}

.movie-details-container {
	margin: 0 20px;
	font-size: 14px;
}

.details {
	width: 47%;
	border: 1px solid var(--color-light-text-scale-0);
}

.cast {
	border: 1px solid var(--color-light-text-scale-0);
}

.details-header {
	border-bottom: 1px solid var(--color-light-text-scale-0);
	padding: 5px;
	margin: 0;
}

.cast-header {
	border-bottom: 1px solid var(--color-light-text-scale-0);
	padding: 5px;
	margin: 0;
}

.movie-details {
	color: var(--color-base-blue);
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}

.movie-details p {
	margin: 0;
	padding: 5px;
}

.actor-name {
	cursor: default;
	position: relative;
	font-weight: 500;
	color: inherit;
}

.actor-name:hover {
	color: var(--color-text-link);
}

.movie-trailer-container {
	margin-top: 10px;
}

.movie-trailer-container > div:nth-of-type(1) {
	color: white;
	text-align: center;
	border-image: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 3px;
}

.movie-trailer-container > div:nth-of-type(1) > h3 {
	font-family: Orbitron;
	font-size: 1.3vw;
	letter-spacing: 2.5px;
}

.movie-trailer {
	margin-top: 10px;
	width: 376px;
	height: 225px;
	position: relative;
	touch-action: none;
	user-select: none;
}

.video-player {
	width: 100%;
	height: 100%;
	background: black;
	object-fit: contain;
}
