.movie-poster-container {
	position: relative;

	.movie-poster {
		max-width: 100%;
		height: 615px;
	}
}

.movie-details-container {
	margin: 0 20px;
	font-size: 14px;

	.movie-details {
		@extend %row-flex-stretch;
		color: $color-base-blue;
		justify-content: center;

		p {
			margin: 0;
			padding: 5px;
		}

		.details,
		.cast {
			border: 1px solid $color-light-text-scale-0;
		}

		.details {
			width: 47%;
		}

		.cast {
			width: 65%;

			.actor-name {
				cursor: default;
				position: relative;
				font-weight: 500;
				color: inherit;

				&:hover {
					color: $color-text-link;
				}
			}
		}

		$movie-headers: ('.details .details-header', '.cast .cast-header');
		@each $header in $movie-headers {
			#{$header} {
				@extend %header;
			}
		}
	}
}

.movie-trailer-container {
	margin-top: 10px;

	> div:nth-of-type(1) {
		color: $color-light-text-scale-0;
		text-align: center;
		border: 1px solid $color-light-pink;
		border-radius: 3px;

		> h3 {
			font-family: $font-stack-secondary;
			font-size: 1.2rem;
			letter-spacing: 2.5px;
		}
	}

	.movie-trailer {
		margin-top: 10px;
		width: 376px;
		height: 225px;
		position: relative;
		touch-action: none;
		user-select: none;
		overflow: hidden;

		.video-player {
			width: 100%;
			height: 100%;
			background: black;
			object-fit: contain;
		}

		.not-found-image {
			width: 100%;
			transform: translateY(-120px);
			object-fit: none;
		}
	}
}
