.search-form {
	background-color: $color-dark-bg-scale-0;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid;
	border-image: linear-gradient(to top, $color-base-yellow, $color-base-pink);
	border-image-slice: 1;
	padding: 20px;
	color: $color-light-text-scale-1;
	text-align: center;
	height: 40%;
	font-size: 1.2vw;

	input[type='text'],
	input[type='submit'] {
		background: $color-dark-bg-scale-1;
		color: $color-light-text-scale-0;
	}

	input[type='submit'] {
		font-family: $font-stack-primary;
		border-radius: 5px;
	}

	input[type='submit']:hover,
	input[type='submit']:focus {
		cursor: pointer;
	}

	input[type='text'] {
		width: 240px;
	}
}
