.hover-card-container {
	position: absolute;
	z-index: 100;
	outline: none;
	display: none;
}

.hover-card-message {
	position: relative;
	width: 180px;
	margin-right: auto;
	margin-left: auto;
	background-color: var(--color-bg-overlay);
	box-shadow: var(--color-dark-shadow);
	border: 1px solid var(--color-border-overlay);
	border-radius: 6px;
}

.hover-card-message::after,
.hover-card-message::before {
	position: absolute;
	left: 50%;
	display: inline-block;
	content: '';
}

.hover-card-message::before {
	top: -16px;
	margin-left: -9px;
	border: 8px solid transparent;
	border-bottom: 8px solid var(--color-bg-overlay);
}

.hover-card-message:after {
	top: -14px;
	margin-left: -8px;
	border: 7px solid transparent;
	border-bottom: 7px solid var(--color-bg-overlay);
}

/* like 20 lines */
.hover-card-message--bottom-left::after,
.hover-card-message--bottom-left::before,
.hover-card-message--bottom-right::after,
.hover-card-message--bottom-right::before,
.hover-card-message--bottom::after,
.hover-card-message--bottom::before {
	top: auto;
	border-bottom-color: transparent;
}

.hover-card-message--bottom-left::before,
.hover-card-message--bottom-right::before,
.hover-card-message--bottom::before {
	bottom: -16px;
	border-top-color: var(--color-bg-overlay);
}

.hover-card-message--bottom-left:after,
.hover-card-message--bottom-right:after,
.hover-card-message--bottom:after {
	bottom: -14px;
	border-top-color: var(--color-bg-overlay);
}

.hover-card-message--bottom-right,
.hover-card-message--top-right {
	right: -9px;
	margin-right: 0;
}

.hover-card-message--bottom-right:after,
.hover-card-message--bottom-right:before,
.hover-card-message--top-right:after,
.hover-card-message--top-right:before {
	left: auto;
	margin-left: 0;
}

.hover-card-message--bottom-right:before,
.hover-card-message--top-right:before {
	right: 20px;
}

.hover-card-message--bottom-right:after,
.hover-card-message--top-right:after {
	right: 21px;
}

.hover-card-message--bottom-left,
.hover-card-message--top-left {
	left: -9px;
	margin-left: 0;
}

.hover-card-message--bottom-left::after,
.hover-card-message--bottom-left::before,
.hover-card-message--top-left::after,
.hover-card-message--top-left::before {
	left: 24px;
	margin-left: 0;
}

.hover-card-message--bottom-left:after,
.hover-card-message--top-left:after {
	left: 25px;
}

.hover-card-message-name-bar {
	display: flex;
	align-items: stretch;
	margin-right: -16px;
	margin-left: -16px;
	border-bottom: 1px solid var(--color-border-secondary);
}

.hover-card-message-name {
	display: flex;
	align-items: center;
	padding: 8px;
	width: 100%;
}

.hover-card-message-name a {
	font-size: 14px;
	font-weight: 600;
	font-family: Poppins, sans-serif;
	line-height: 1.25;
	text-decoration: none;
	color: var(--color-light-text-scale-0);
}

.hover-card-message-name > a:hover {
	color: var(--color-text-link);
}

.hover-card-message-img-bar {
	display: flex;
	margin-top: 16px;
	align-self: flex-start;
	text-align: center;
}

.hover-card-message-img-bar > div {
	border-radius: 6px;
	overflow: hidden;
}

.hover-card-message-img-link {
	color: var(--color-text-link);
	text-decoration: none;
}

.hover-card-message-img-link-avatar {
	display: block;
	border-radius: 50%;
	border-style: none;
	width: 60px;
	aspect-ratio: auto 60 / 60;
	height: 60px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
	word-wrap: normal;
	overflow: hidden;
}
